<!-- LISTA TORNEI -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="UTF-8">
    <title>Elenco Tornei</title>   
</head>

<body>

    <nav>
        <a href="/">Home</a> <!-- Pulsante HOME -->
        <a href="/tornei">Tornei</a> <!-- Pulsante Tornei -->
		<a href="/squadre">Squadre</a> <!-- Pulsante -->
        <span th:if="${userDetails != null}"> <!-- Se sono Loggato -->
			<form th:action="@{/logout}" method="POST" style="display: inline;">
						    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						    <button type="submit" style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; font: inherit; padding: 0;">Logout</button>
						</form>  <!-- Gli metto a disposizione un pulsante logout, con URL "/logout" -->
		    Ciao <span th:text="${userDetails.username}"></span>
        </span>
        <span th:unless="${userDetails != null}"> <!-- Se non sono Loggato -->
            <a href="/login">Login</a> <!-- Pulsante Login -->
            <a href="/register">Registrati</a> <!-- Pulsante Logout -->
        </span>
    </nav>

    <h1>Elenco Tornei</h1> <!-- Titolo in grassetto -->
	<!-- #lists offre operazioni comuni sulle liste grazie a Thymeleaf -->
    <div th:if="${#lists.isEmpty(listaTornei)}">   <!-- Se non c'è nessun Torneo nel db -->  
        <p>Nessun torneo disponibile al momento.</p>  <!-- allora scrivi questo -->
    </div> 
	<!-- Altrimenti, ce c'è almeno un torneo, me lo stampi -->
    <ul> <!-- Ciclo che mostra tutti i tornei -->
        <li th:each="torneo : ${listaTornei}"> <!-- "listaTornei è la lista che gli passo dal Service" -->
            <a th:href="@{'/tornei/' + ${torneo.id}}" th:text="${torneo.nome} + ' (' + ${torneo.anno} + ')'">
                Nome Torneo
            </a>
        </li>
    </ul>

</body>
</html>